.lobbylist__lobbiescontainer {
    margin-top: 10px;
    max-height: 400px; /* Set the desired height */
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
.lobbyListTitle {
    text-align: center;
    color: #333;
}